
<!--  -->
<!-- NAVBAR -->
<!--  -->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../../assets/to-do.png" style="margin-right: 10px;width:30px;height:30px;">
    <a class="navbar-brand" style="font-size: 30px;" [routerLink]="['/to-do']">
        
        To Do Planner
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-family: Arial, Helvetica, sans-serif;margin-top: 8px;">
            <a class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Login
            </a>
        </div>
    </div>
</nav>



<div class="container">

    <div class="card">

        <div class="front">

            <form>
                <div>
                    <header style="font-size:20px;font-variant: small-caps;">New Password</header> <br>
                </div>
                <div>
                    <label for="signup-password" style="margin-bottom: -5px;">Password <b style="color:red">*</b></label><br>
                    <mat-form-field style="width:320px;cursor: pointer;">
                        <input matInput type="password" minlength="15" [type]="hide ? 'password' : 'text'"  required style="width: 300px !important;">
                        <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div><br>
                <div>
                    <label for="signup-confirm-password">Confirm Password <b style="color:red">*</b></label><br>
                    <input type="password" id="signup-confirm-password" name="confirm-password" required minlength="15" > <br>
                </div><br>
    
                <button type="submit" class="reset-button" [disabled]="isPasswordMatch" >Reset Password</button>
            </form>


        </div>

    </div>

</div>