


<!--  -->
<!-- NAVBAR -->
<!--  -->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../../assets/to-do.png" style="margin-right: 10px;width:30px;height:30px;">
    <a class="navbar-brand" style="font-size: 30px;" >
        To Do Planner
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <!-- <div class="navbar-nav" style="font-family: Arial, Helvetica, sans-serif;margin-top: 8px;">
            <a class="nav-item nav-link active" style="background-color: purple;color:white;border-radius: 2px;" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Daily
            </a>
            <a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">General</a>
        </div> -->
        <div class="navbar-nav" style="font-family: Arial, Helvetica, sans-serif;margin-top: 8px;cursor: pointer;">
            <a class="nav-item nav-link active" [routerLink]="['/myprofile']">My Profile</a>
            <a class="nav-item nav-link active" [routerLink]="['/about']">About</a>
            <a class="nav-item nav-link active" (click)="signOut()">Sign out</a>
        </div>
    </div>
</nav>


<br>

<div id="container" style="display: flex;flex-direction: row;width:100%;height:100%;padding:10px;margin-bottom: 20px;">
    <div class="daily" >
        <div class="title">
            <header style="font-size: 20px;font-variant: small-caps;">Daily Tasks</header>
        </div>
        <div class="daily_div" >
            <div class="daily_checks">
                <div *ngFor="let tasks of daily_tasks;let i=index" style="display: flex;flex-wrap: wrap;flex-direction: row;">
                    <mat-checkbox style="max-width: 550px;margin-right: 20px;" (click)="checked('daily_tasks',i)" >
                        <span #daily_task class="checkbox" (click)="checked('daily_tasks',i)">{{tasks}}</span>
                    </mat-checkbox>
                    <span class="hide" (click)="delete('daily_tasks',i)"><b>✖</b></span>
                </div>
                <div id="input-daily" class="input-daily" *ngIf="displayDailyInput">
                    <form #form="ngForm" (ngSubmit)="addtoDaily(form.value)">
                        <mat-checkbox>
                            <input type="text" autofocus autocomplete="off" name="taskItem" ngModel style="width: 250px;">
                        </mat-checkbox>
                        <span class="hide" (click)="closeDailyInputTask()"><b>✖</b></span>
                    </form>
                </div>
                <button class="add-item" (click)="showDailyTaskInput()"> <b>+</b> Add Item</button>
                
                <div style="width:100%;align-items: center;display: flex;flex-wrap: wrap;padding:10px;justify-content: center;">
                    <div style="border-bottom:1px solid rgb(201, 195, 195);width:99%"></div>
                </div>
                <label style="color:grey">Checked Items</label><br>
                <div *ngFor="let tasks of dailyTasksChecked;let i=index" style="display: flex;flex-wrap: wrap;flex-direction: row;">
                    <mat-checkbox style="max-width: 550px;margin-right: 20px;" [checked]="true" (click)="unChecked('dailyTasksChecked',i)">
                        <span style="color:black;text-decoration:line-through;" (click)="unChecked('dailyTasksChecked',i)">
                            <span #daily_task class="checkbox" (click)="unChecked('dailyTasksChecked',i)">{{tasks}}</span>
                        </span>
                    </mat-checkbox>
                    <span class="hide" (click)="delete('dailyTasksChecked',i)"><b>✖</b></span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="daily">
        <div class="general_title">
            <header style="font-size: 20px;font-variant: small-caps;">General Tasks</header>
        </div>
        <div class="normal_div">
            <div class="daily_checks" >
                <div *ngFor="let tasks of general_tasks;let i=index" style="display: flex;flex-wrap: wrap;flex-direction: row;">
                    <mat-checkbox style="max-width: 550px;margin-right: 20px;" (click)="checked('general_tasks',i)">
                        <span class="checkbox" (click)="checked('general_tasks',i)">{{tasks}}</span>
                    </mat-checkbox>
                    <span class="hide" (click)="delete('general_tasks',i)"><b>✖</b></span>
                </div>
                <div id="general-daily" class="general-daily" *ngIf="displayGeneralInput">
                    <form #form="ngForm" (ngSubmit)="addtoGeneral(form.value)">
                        <mat-checkbox>
                            <input type="text" autofocus autocomplete="off" name="taskItem" ngModel style="width: 250px;display:flex">
                        </mat-checkbox>
                        <span class="hide" (click)="closeGeneralInputTask()"><b>✖</b></span>
                    </form>
                </div>
                <button class="add-item" (click)="showGeneralTaskInput()"> <b>+</b> Add Item</button>
                <div style="width:100%;align-items: center;display: flex;flex-wrap: wrap;padding:10px;justify-content: center;">
                    <div style="border-bottom:1px solid rgb(201, 195, 195);width:99%"></div>
                </div>
                <label style="color:grey">Checked Items</label><br>
                <div *ngFor="let tasks of generalTasksChecked;let i=index" style="display: flex;flex-wrap: wrap;flex-direction: row;">
                    <mat-checkbox style="max-width: 550px;margin-right: 20px;" [checked]="true" (click)="unChecked('generalTasksChecked',i)">
                        <span style="color:black;text-decoration:line-through;" (click)="unChecked('generalTasksChecked',i)">
                            <span #daily_task class="checkbox" (click)="unChecked('generalTasksChecked',i)">{{tasks}}</span>
                        </span>
                    </mat-checkbox>
                    <span class="hide" (click)="delete('generalTasksChecked',i)"><b>✖</b></span>
                </div>
            </div>
        </div>
    </div>
</div>