html {
    --scrollbarBG: #CFD8DC;
    --thumbBG: #90A4AE;
}


.nav-link:active {
    background-color: #FF6363;
    color: white;
    border-radius: 2px ;
}

.nav-item{
    margin-left: 20px;
}

.nav-item:hover{
    background-color: purple;
    color: white !important; 
    border-radius: 2px ;
}


// ===============
// Daily tasks CSS 
// ===============

.daily{
    display: flex;
    flex-direction: column;
    height: 600px;
    width:50%;
    background-color: white;
    margin-right:20px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
}

.daily_div{
    display: flex;
    flex-direction: column;
    height: 600px;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    width:100%;
    margin-right:20px;
    overflow-y: scroll;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
    margin-bottom: 20px;
}

.title{
    display: block;
    text-align: center;
    width:100%;
    padding:10px 15px;
    position: sticky;
    color: white;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.daily_div::-webkit-scrollbar{
    display: none;
}

.daily_checks{
    // height: 600px;
    padding: 10px;
    // overflow-y: scroll;
}


.daily_checks{
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    padding:10px
}

.daily_checks::-webkit-scrollbar {
    width:11px;
}

.daily_div .daily_checks::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}



// ===============
// General tasks CSS 
// ===============

.normal_div{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 600px;
    // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    margin-bottom: 20px;
    border-radius: 5px;
    background: #fff;
    overflow-y: scroll;
    color: #5c5e65;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}

.general_title{
    display: block;
    text-align: center;
    width:100%;
    padding:10px 15px;
    color: white;
    // background-color: #3bb78f;
    // background-image: linear-gradient(315deg, #3bb78f 0%, #0bab64 74%); 
    background-color: #e0455f;
    background-image: linear-gradient(147deg, #e0455f 0%, #44000b 74%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}

.normal_div::-webkit-scrollbar{
    display: none;
}

.normal_div .daily_checks{
    padding:10px
}

.normal_div .daily_checks::-webkit-scrollbar {
    width:11px;
}

.normal_div .daily_checks::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.normal_div .daily_checks::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.add-item{
    border:none;
    background-color: transparent;
    display: block;
    padding: 2px 7px;
    outline: transparent;
    font-weight: bolder;
}

.add-item:hover{
    color: purple;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

.checkbox{
    color: black;
    margin-right: 20px;
    // word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.hide{
    margin-top: 3px;
    font-size: 12px;
    cursor: pointer;
}

.hide:hover{
    color:purple;
}

.input-daily{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

input {
    font-size: 12px;
    border: 0;
    width: 80%;
    margin-right: 5px;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    margin-left: 10px;
    cursor: text;
}

input:focus {
    outline: 0;
    // border-bottom: 1.5px solid purple;
}