

.nav-link:active {
    background-color: #5F28A6;
    color: white;
    border-radius: 2px ;
}

.nav-item{
    margin-left: 20px;
}

.nav-item:hover{
    background-color: #5F28A6;
    color: white !important; 
    border-radius: 2px ;
}