

.nav-link:active {
    background-color: #5F28A6;
    color: white;
    border-radius: 2px ;
}

.nav-item{
    margin-left: 20px;
}

.nav-item:hover{
    background-color: #5F28A6;
    color: white !important; 
    border-radius: 2px ;
}

.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    width:100%;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border-radius: 5px;
}

.title{
    display: block;
    // text-align: center;
    width:100%;
    padding:10px 15px;
    position: sticky;
    color: white;
    background-color: #5F28A6;
    // background-image: linear-gradient(315deg,#8693ab 0%, #5F28A6 74%);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.contact-details{
    display: block;
    text-decoration: none;
}

.feedback-button{
    border: none;
    padding:10px;
    background-color: #5F28A6;
    color: white;
}