


<!--  -->
<!-- NAVBAR -->
<!--  -->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../../assets/to-do.png" style="margin-right: 10px;width:30px;height:30px;">
    <a class="navbar-brand" style="font-size: 30px;" [routerLink]="['/to-do']">
        
        To Do Planner
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-family: Arial, Helvetica, sans-serif;margin-top: 8px;">
            <a class="nav-item nav-link active" style="background-color: #FF6363;color:white;border-radius: 2px;" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Login
            </a>
            <a class="nav-item nav-link" [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a>
        </div>
    </div>
</nav>



<!--  -->
<!-- Login & Sign Up -->
<!--  -->

<div class="container">

    <div [ngClass]="toggleProperty ? 'flipped' : ''"   class="card">

        <!--  -->
        <!-- Login Page -->
        <!--  -->
        <div class="front" style="display: flex;flex-direction: row;padding:40px;padding-top: 60px;">
            <div>
                <img src="../../assets/signin.svg" style="height: 500px;width: 500px;">
            </div>
        
            <div style="display: flex;flex-direction: column;padding: 20px;padding-left: 100px;padding-top: 50px;">
                <div style="font-variant: small-caps;display: block;width: 100%;">
                    <header style="font-size: 20px;">Sign In</header> <br>
                </div>
                
                <form>
                    <div>
                        <label for="signin-email">Email</label><br>
                        <input type="email" id="signin-email" name="email" required autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>
                    </div><br>
                    
                    <div *ngIf="toggleProperty === false">
                        <label for="signin-password" style="margin-bottom: -5px;">Password</label><br>
                        <mat-form-field [style.width.px]=320>
                            <input matInput type="password" minlength="15" [type]="hide ? 'password' : 'text'" formControlName="password" required style="width: 300px !important;">
                            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div><br>
    
                    <a style="text-decoration: none;" href="">Forgot Password?</a> <br><br>
                    <button type="submit" class="btn draw-border" *ngIf="toggleProperty === false" (click)="signMeIn()">Login</button>
                </form><br>
    
                <div>
                    <label>Don't have an account?</label><br>
                    <a class="btn draw-border" (click)="toggle()" *ngIf="toggleProperty === false">Create an Account</a>
                </div>
    
            </div>
        </div>
        <!-- End of Login Page  -->

        <!--  -->
        <!-- Sign Up -->
        <!--  -->
        <div class="back" style="display: flex;flex-direction: row;padding:40px;padding-top: 20px;margin-left: 120px;">
            <div>
                <img src="../../assets/signin.svg" style="height: 500px;width: 500px;">
            </div>
        
            <div class="Sign-up">
                <div style="font-variant: small-caps;display: block;width: 100%;">
                    <header style="font-size: 20px;">Create Account</header> <br>
                </div>
                
                <form>
                    <div>
                        <label for="fname">Firstname <b style="color:red">*</b></label><br>
                        <input type="text" id="fname" autofocus name="Firstname" required minlength="4"><br>
                    </div><br>
                    <div>
                        <label for="lname">Lastname <b style="color:red">*</b></label><br>
                        <input type="text" id="lname" name="Lastname" required minlength="2"><br>
                    </div><br>
                    <div>
                        <label for="signup-email">Email <b style="color:red">*</b></label><br>
                        <input type="email" id="signup-email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>
                    </div><br>
                    <div>
                        <label for="signup-password" style="margin-bottom: -5px;">Password <b style="color:red">*</b></label><br>
                        <mat-form-field style="width:320px;cursor: pointer;">
                            <input matInput type="password" minlength="15" [type]="hide ? 'password' : 'text'" formControlName="password" required style="width: 300px !important;">
                            <mat-icon matSuffix (click)="hide = !hide" style="cursor: pointer;">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </mat-form-field>
                    </div><br>
                    <div>
                        <label for="signup-confirm-password">Confirm Password <b style="color:red">*</b></label><br>
                        <input type="password" id="signup-confirm-password" name="confirm-password" required minlength="15" > <br>
                    </div><br>
                    <button type="submit" class="btn draw-border" [disabled]="isPasswordMatch" >Create Account</button>
                </form><br>
    
                <div>
                    <label>Already have account?</label><br>
                    <a class="btn draw-border" (click)="toggle()">Sign In</a>
                </div>
    
            </div>
        </div>
        <!-- End of Sign Up -->
    </div>
</div>


