

<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../../assets/to-do.png" style="margin-right: 10px;width:30px;height:30px;">
    <a class="navbar-brand" [routerLink]="['/to-do']">To Do Planner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-family: Arial, Helvetica, sans-serif;margin-top: 5px;">
            <a class="nav-item nav-link " style="margin-right: 20px;" [routerLink]="['/login']" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">Login</a>
            <a class="nav-item nav-link " style="margin-right: 20px;" [routerLink]="['/experience']" routerLinkActive="active"[routerLinkActiveOptions]="{exact:true}">About</a>
        </div>
    </div>
</nav>