




<!--  -->
<!-- NAVBAR -->
<!--  -->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../../assets/to-do.png" style="margin-right: 10px;width:30px;height:30px;">
    <a class="navbar-brand" style="font-size: 30px;" [routerLink]="['/to-do']">
        
        To Do Planner
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-family: Arial, Helvetica, sans-serif;margin-top: 8px;">
            <a class="nav-item nav-link" [routerLink]="['/login']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                Login
            </a>
        </div>
    </div>
</nav>





<div class="container">
    <div class="card">
        <div class="front">
            <div>
                <div>
                    <label for="signin-email">Enter registered email</label><br>
                    <input [(ngModel)]="email" type="email" id="signin-email" name="email" required autofocus pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"><br>
                </div><br>
                <button type="submit" class="reset-button" (click)="sendOTP()">Send OTP</button>
            </div>


            <br><br>
            <!-- <div style="border-bottom:1px dashed black;width:100%"></div> -->
            <br><br>

            <div>
                <div>
                    <label for="otp">Enter OTP</label><br>
                    <input [(ngModel)]="validateOTP" type="password" id="otp" name="otp" required minlength="6"><br>
                </div><br>
                <button type="submit" class="reset-button" (click)="validationOfOTP()">Confirm</button>
            </div>

        </div>

    </div>

</div>