


.nav-link:active {
    background-color: #1B212C;
    color: white;
    border-radius: 2px ;
}

.nav-item{
    margin-left: 20px;
}

.nav-item:hover{
    background-color: #1B212C;
    color: white !important; 
    border-radius: 2px ;
}

.container{
    width: 100%; 
    height: fit-content;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    perspective: 800px;
}

.card{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    display: flex;
    flex-wrap: wrap;
}

.card .front{
    // width:100%;
    // height: 100%;
    position: absolute;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    padding:30px 20px;
    backface-visibility: hidden;
    place-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
}

.reset-button{
    width:100%;
    border: none;
    background-color: #1B212C;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

input {
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 300px;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #1B212C;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

label {

    font-size: 15px;
    color: #1B212C;
    font-family: Arial, Helvetica, sans-serif;
}