


<!--  -->
<!-- NAVBAR -->
<!--  -->
<nav class="navbar navbar-expand-lg navbar-light">
    <img src="../../assets/to-do.png" style="margin-right: 10px;width:30px;height:30px;">
    <a class="navbar-brand" style="font-size: 30px;" [routerLink]="['/to-do']">
        To Do Planner
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="font-family: Arial, Helvetica, sans-serif;margin-top: 8px;">
            <a class="nav-item nav-link active" style="border-radius: 2px;" [routerLink]="['/planners']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                My Planner
            </a>
            <a class="nav-item nav-link active" [routerLink]="['/about']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">About</a>
            <a class="nav-item nav-link active" (click)="signOut()" style="cursor: pointer;">Sign out</a>
        </div>
    </div>
</nav>




<div id="container" style="display: flex;flex-direction: column;width:100%;height:100%;padding:10px;margin-bottom: 20px;">
    <div style="display: flex;flex-direction: column;align-content: center;width:70%;justify-content: center;">
        <div class="card">
            <div class="header">
                <header>User Details</header>
            </div>
            <div class="card-body">
                
            </div>
        </div>
        <br>
        <div class="card">
            <div class="header">
                <header>Update Account</header>
            </div>
            <div class="card-body">
                
            </div>
        </div>
        <br>
        <div class="card">
            <div class="header">
                <header>Delete Account</header>
            </div>
            <div class="card-body">
    
            </div>
        </div>
        <br>
        <div class="card" *ngIf="isAdmin">
            <div class="header">
                <header>All Users</header>
            </div>
            <div class="card-body">
                <div *ngFor="let item of allUserDetails" style="display: flex;flex-direction: row;flex-wrap: wrap;padding: 10px;">
                    <div class="items">
                        <label style="font-size: 20px;margin-right: 5px;">{{item.firstname}}</label>
                        <label style="font-size: 20px">{{item.lastname}}</label><br>
                        <label>{{item.email}}</label><br>
                        <button style="border:none;color:red;padding:0px;background-color: transparent;" (click)="deleteUser(item.id)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>