
.nav-link:active {
    background-color: #70CAB0;
    color: white;
    border-radius: 2px ;
}

.nav-item{
    margin-left: 20px;
}

.nav-item:hover{
    background-color: #70CAB0;
    color: white !important; 
    border-radius: 2px ;
}


input {
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 300px;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
}

input:focus {
    outline: 0;
    border-bottom: 1px solid #FF6363;
}

label {
    font-size: 15px;
    color: #FF6363;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    padding:5px;
    border-bottom:  1px solid grey;
}

.card{
    width:60%;
    align-items: center;
    padding:10px
}

.card-body{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px !important;
}


.items{
    box-shadow: 0 1px 1px #70CAB0;
    padding:10px;
    width: 250px;
    border-radius: 5px
}

.items:hover{
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
    cursor: pointer;
}

.updateButton{
    padding: 10px;
    background-color: #70CAB0;
    border-radius: 2px;
    border:none;
    color:white;
}

.feedback_div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:600px;
}

.feedback_body{
    overflow-y: scroll;
    display:flex;
    height: 500px;
    flex-direction: row;
    flex-wrap: wrap;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
