/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~@angular/material/theming';


@include mat-core();
// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent:  mat-palette($mat-pink, A200, A100, A400);
$light-theme:   mat-light-theme($light-primary, $light-accent);
@include angular-material-theme($light-theme);

// Dark theme
$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme-mode {
    @include angular-material-theme($dark-theme);
}



* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// # For Checkboxes at the planners page 
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: purple !important;
}

button{
    outline: none;
}


.parametersPanel .mat-expansion-panel-body {
    width:800px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
