/* You can add global styles to this file, and also import other style files */
@import url("https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css");
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~bootstrap/dist/css/bootstrap.min.css';


* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// # For Checkboxes at the planners page 
.mat-checkbox-ripple .mat-ripple-element,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: purple !important;
}

button{
    outline: none;
}


.parametersPanel .mat-expansion-panel-body {
    width:800px !important;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-dialog-actions {
    min-height:0 !important;
}

mat-password-strength .mat-progress-bar-fill::after{
    background-color: #4caf50;
}